################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlexPortfolio/AlexPortfolio.csproj.user
/.vs
/AlexPortfolio/bin
/AlexPortfolio/obj
