################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AlexPortfolio/DesignTimeBuild/.dtbcache.v2
/.vs/Portfolio/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/AlexPortfolio/bin/Debug/net6.0/runtimes/win/lib/net6.0
/AlexPortfolio/bin/Debug/net6.0/AlexPortfolio.deps.json
/AlexPortfolio/obj/Debug/net6.0/ref/AlexPortfolio.dll
/AlexPortfolio/obj/Debug/net6.0/refint/AlexPortfolio.dll
/AlexPortfolio/obj/Debug/net6.0/staticwebassets/msbuild.AlexPortfolio.Microsoft.AspNetCore.StaticWebAssets.props
/AlexPortfolio/AlexPortfolio.csproj.user
/AlexPortfolio/obj/AlexPortfolio.csproj.nuget.dgspec.json
/AlexPortfolio/obj/Debug/net6.0/AlexPortfolio.AssemblyInfo.cs
/AlexPortfolio/obj/Debug/net6.0/AlexPortfolio.AssemblyInfoInputs.cache
/AlexPortfolio/obj/Debug/net6.0/AlexPortfolio.assets.cache
/AlexPortfolio/obj/Debug/net6.0/AlexPortfolio.csproj.AssemblyReference.cache
/AlexPortfolio/obj/Debug/net6.0/AlexPortfolio.csproj.CopyComplete
/AlexPortfolio/obj/Debug/net6.0/AlexPortfolio.csproj.CoreCompileInputs.cache
/AlexPortfolio/obj/Debug/net6.0/AlexPortfolio.csproj.FileListAbsolute.txt
/AlexPortfolio/obj/Debug/net6.0/AlexPortfolio.dll
/AlexPortfolio/obj/Debug/net6.0/AlexPortfolio.MvcApplicationPartsAssemblyInfo.cs
/AlexPortfolio/obj/Debug/net6.0/AlexPortfolio.pdb
/AlexPortfolio/obj/Debug/net6.0/AlexPortfolio.sourcelink.json
/AlexPortfolio/obj/Debug/net6.0/apphost.exe
/AlexPortfolio/obj/Debug/net6.0/project.razor.vs.bin
/AlexPortfolio/obj/Debug/net6.0/staticwebassets.build.json
/AlexPortfolio/obj/Debug/net6.0/staticwebassets.development.json
/AlexPortfolio/obj/Debug/net6.0/staticwebassets.pack.json
/AlexPortfolio/obj/project.assets.json
/AlexPortfolio/obj/project.nuget.cache
/AlexPortfolio/bin/Debug/net6.0/AlexPortfolio.dll
/AlexPortfolio/bin/Debug/net6.0/AlexPortfolio.exe
/AlexPortfolio/bin/Debug/net6.0/AlexPortfolio.pdb
/AlexPortfolio/bin/Debug/net6.0/AlexPortfolio.staticwebassets.runtime.json
/AlexPortfolio/bin/Debug/net6.0/appsettings.json
/AlexPortfolio/bin/Debug/net6.0/BouncyCastle.Cryptography.dll
/AlexPortfolio/bin/Debug/net6.0/MailKit.dll
/AlexPortfolio/bin/Debug/net6.0/Microsoft.OpenApi.dll
/AlexPortfolio/bin/Debug/net6.0/MimeKit.dll
/AlexPortfolio/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/AlexPortfolio/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/AlexPortfolio/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/AlexPortfolio/bin/Debug/net6.0/System.Formats.Asn1.dll
/AlexPortfolio/bin/Debug/net6.0/System.Security.Cryptography.Pkcs.dll
/.vs/AlexPortfolio/FileContentIndex/3995badf-6733-45a4-836f-dac94a453e02.vsidx
/.vs/AlexPortfolio/FileContentIndex/421c7150-30cc-4ea7-834e-3c141dfda745.vsidx
/.vs/AlexPortfolio/FileContentIndex/451e9adf-25de-41f2-95f8-a52aa97e8fec.vsidx
/.vs/AlexPortfolio/FileContentIndex/4792a88e-dbd5-4c54-9b6b-2b218df36f13.vsidx
/.vs/AlexPortfolio/FileContentIndex/6e455787-565b-467b-a2d9-1dbd5c896ee3.vsidx
/.vs/AlexPortfolio/FileContentIndex/d4782dbc-8782-4402-a4ad-0d9ad730fa4e.vsidx
/.vs/AlexPortfolio/FileContentIndex/e7177dfc-27ad-4ee5-b054-12e91f4c66c9.vsidx
/.vs/AlexPortfolio/FileContentIndex/read.lock
/.vs/AlexPortfolio/v17/.futdcache.v2
/.vs/AlexPortfolio/v17/.suo
/.vs/ProjectEvaluation/alexportfolio.metadata.v7.bin
/.vs/ProjectEvaluation/alexportfolio.projects.v7.bin
