################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlexPortfolio/AlexPortfolio.csproj.user
/.vs
/AlexPortfolio/bin
/AlexPortfolio/obj
/AlexPortfolio/alexs-portfolio-site-3cc2a8a93f30.json
