@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('navigation.css');
@import url('fullwidthimageblock.css');

:root {
    --primary-site-colour: #fff;
    --secondary-site-colour: #fff;
    --tertiary-site-colour: #fff;
    --primary-text-colour: #fff;
    --secondary-text-colour: #fff;
    --tertiary-text-colour: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: var(--primary-site-colour);
    color: var(--primary-text-colour);
}

.container {
    overflow: hidden;
    padding-left: 4rem;
    padding-right: 4rem;
}

#main-content {
    min-height: 100vh;
    background-color: var(--primary-site-colour);
    color: var(--primary-text-colour);
}

.hero {
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2em;
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none !important;
}

.hidden {
    height: 0px;
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .desktop-only {
        display: none !important;
    }
}

@media screen and (min-width: 1023px) {
    .mobile-only {
        display: none !important;
    }
}
